 .cabecalho
*{
    margin: 0;
    padding: 0;
}

.cabecalho {
    background-color: rgb(255, 0, 0);
    color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}

.cabecalho-imagem{
    width: 10%;
}

.cabecalho-lista-item{
    display: inline-block;
    margin: 0 16px;
    font-size: 60px;
}

.escola-imagem{
    width: 85%;
}
  .escola{
    background-image: linear-gradient (#ff0000c9,#3b3133d8);
    color:rgb(216, 41, 41);
    display: flex;
    justify-content: center;rgba(80, 3, 13, 0.847)rgba(71, 14, 21, 0.847)
    align-items: center;
    padding: 24px 0;
}

.escola-div-conteudo{
    width: 35%;
}
.escola-titulo{
    padding: 24px 0;
}
